aiohttp==3.8.3
aiosignal==1.2.0
anyio==3.6.1
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
asttokens==2.0.5
async-timeout==4.0.2
attrs==22.1.0
backcall==0.2.0
beautifulsoup4==4.11.1
bentoml==1.0.7
bleach==5.0.1
build==0.8.0
cattrs==22.2.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
circus==0.17.1
click==8.1.3
cloudpickle==2.2.0
colorama==0.4.5
commonmark==0.9.1
contextlib2==21.6.0
contourpy==1.0.5
cycler==0.11.0
debugpy==1.6.3
decorator==5.1.1
deepmerge==1.0.1
defusedxml==0.7.1
Deprecated==1.2.13
distlib==0.3.6
entrypoints==0.4
exceptiongroup==1.0.0rc9
executing==0.8.3
fastjsonschema==2.16.2
filelock==3.8.0
Flask==2.2.2
fonttools==4.37.4
frozenlist==1.3.1
fs==2.4.16
h11==0.14.0
idna==3.4
importlib-metadata==5.0.0
ipykernel==6.16.0
ipython==8.4.0
ipython-genutils==0.2.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.16.0
jupyter_client==7.4.2
jupyter-core==4.11.1
jupyter-server==1.21.0
jupyterlab-pygments==0.2.2
kiwisolver==1.4.4
MarkupSafe==2.1.1
matplotlib==3.6.0
matplotlib-inline==0.1.6
mistune==2.0.4
multidict==6.0.2
nbclassic==0.4.5
nbclient==0.7.0
nbconvert==7.2.1
nbformat==5.7.0
nest-asyncio==1.5.6
notebook==6.5.1
notebook_shim==0.2.0
numpy==1.23.4
opentelemetry-api==1.12.0
opentelemetry-instrumentation==0.33b0
opentelemetry-instrumentation-aiohttp-client==0.33b0
opentelemetry-instrumentation-asgi==0.33b0
opentelemetry-sdk==1.12.0
opentelemetry-semantic-conventions==0.33b0
opentelemetry-util-http==0.33b0
packaging==21.3
pandas==1.5.1
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.10.1
pep517==0.13.0
pickleshare==0.7.5
Pillow==9.2.0
pip==22.2.2
pip-tools==6.9.0
pipenv==2022.10.12
platformdirs==2.5.2
prometheus-client==0.15.0
prompt-toolkit==3.0.20
psutil==5.9.3
pure-eval==0.2.2
pycparser==2.21
Pygments==2.11.2
pynvml==11.4.1
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
python-dotenv==0.21.0
python-multipart==0.0.5
pytz==2022.5
pywin32==304
pywinpty==2.0.8
PyYAML==6.0
pyzmq==24.0.1
requests==2.28.1
rich==12.6.0
schema==0.7.5
scikit-learn==1.1.2
scipy==1.9.2
seaborn==0.12.1
Send2Trash==1.8.0
setuptools==63.4.1
simple-di==0.1.5
six==1.16.0
sniffio==1.3.0
soupsieve==2.3.2.post1
stack-data==0.2.0
starlette==0.21.0
terminado==0.16.0
threadpoolctl==3.1.0
tinycss2==1.2.1
tomli==2.0.1
tornado==6.2
tqdm==4.64.1
traitlets==5.5.0
typing_extensions==4.4.0
urllib3==1.26.12
uvicorn==0.18.3
virtualenv==20.16.5
virtualenv-clone==0.5.7
watchfiles==0.17.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.1
Werkzeug==2.2.2
wheel==0.37.1
wincertstore==0.2
wrapt==1.14.1
xgboost==1.6.2
yarl==1.8.1
zipp==3.9.0
