brotlipy==0.7.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.4
colorama==0.4.4
conda==4.12.0
conda-content-trust==0+unknown
conda-package-handling==1.8.1
cryptography==36.0.0
distlib==0.3.6
filelock==3.8.0
idna==3.3
menuinst==1.4.18
pip==21.2.4
pipenv==2022.9.24
platformdirs==2.5.2
pycosat==0.6.3
pycparser==2.21
pyOpenSSL==22.0.0
PySocks==1.7.1
pywin32==302
requests==2.27.1
ruamel-yaml-conda==0.15.100
setuptools==61.2.0
six==1.16.0
tqdm==4.63.0
urllib3==1.26.8
virtualenv==20.16.5
virtualenv-clone==0.5.7
wheel==0.37.1
win-inet-pton==1.1.0
wincertstore==0.2
